header{
    background-color: #f977a8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: .5rem solid #f977a8;
}
nav{
    background-color: #c6dea6;
    padding: 1rem;
    text-align: center;
}
a{
    margin: 1rem;
    font-size: 1.5rem;
    color: #e4572e;
}
header>img{
    background-color: #c6dea6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
h1{
    background-color: #c6dea6;
    font-size: 200%;
    color: #e4572e;
    text-align: center;
    padding: 1rem;
}
main{
    margin: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
table{
    width: 100%;
}
tr{
    display: flex;
    justify-content: space-between;
}
td:last-child{
    text-align: right;
}
.cakes{
    background-color: #7ebdc3;
    border: .4rem #f977a8 solid;
    padding: 1rem;
    color: #846b8a;
    font-size: large;
}
.pies{
    background-color: #7ebdc3;
    border: .4rem #f977a8 solid;
    padding: 1rem;
    color: #846b8a;
    font-size: large;
}
.breads{
    background-color: #7ebdc3;
    border: .4rem #f977a8 solid;
    padding: 1rem;
    color: #846b8a;
    font-size: large;
}
h2{
    text-decoration: underline;
    text-align: center;
}
.cakes>img{
    max-width: 12rem;
}
.pies>img{
    max-width: 12rem;
}
.breads>img{
    max-width: 12rem;
}
.rise{
    background-color: #7ebdc3;
    border: .4rem #f977a8 solid;
    padding: 1rem;
    color: #846b8a;
}
.rise>img{
    max-width: 100%;
}
.rise>p{
    font-size: 1.5rem;
}
.con>a{
    background-color: #7ebdc3;
    border: .4rem #f977a8 solid;
    padding: 1rem;
    display: block;
    color: #846b8a;
}
.con>p{
    background-color: #7ebdc3;
    border: .4rem #f977a8 solid;
    padding: 1rem;
    color: #846b8a;
    font-size: 1.5rem;
}
.form{
    background-color: #7ebdc3;
    border: .4rem #f977a8 solid;
    padding: 1rem;
    color: #846b8a;
    font-size: 1.5rem;
}
.form>form>input{
    border: .2rem #f977a8 solid;
    background-color: #7ebdc3;
    display: block;
}
.end>input{
    border: .2rem #f977a8 solid;
    color: #846b8a;
    background-color: #7ebdc3;
    font-size: 1.5rem;
}
@media ( min-width: 800px){
    .con>a{
        text-align: center;
    }
    form>input:hover{
        background-color: #c6dea6;
    }
    nav>a:hover{
        background-color: #7ebdc3;
    }
    .end>input:hover{
        background-color: #c6dea6;
    }
    .con>a:hover{
        color: #7ebdc3; 
        background-color: #846b8a; 
    }
}